{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<div class="container">
    <ul class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{% url 'core:home' %}">
                  Home
              </a>
          </li>
          <li class="breadcrumb-item">
              <a href="{% url 'profiles:profile' %}">
                  Profil
              </a>
          </li>
          <li class="breadcrumb-item active">
                  Szczegóły
          </li>
      </ul>
    <div class="row">
        <div class="col-sm-3">
            {% include "profiles/sidebar.html" %}
        </div>
        <div class="col-sm-9">
          <div class="main-panel shadowing">
              <div id="container" style="min-width: 310px; height: 200px; max-width: 300px; margin: 0 auto"></div>
              <div class="d-flex justify-content-between">
                  <p>Wartość: {{portfolio.total_value | floatformat:2 }}</p>
                  <p>Początkowa gotówka: {{portfolio.beginning_cash | floatformat:2}}</p>
                  <p>Zysk/Strata:
                      {{portfolio.total_return | color_field}}
                  </p>
                  <p>W procentach:
                      {{portfolio.percent_return | color_percent:3}}
                  </p>
              </div>
            <div class="d-flex justify-content-center">
            <div class="btn-group">
                <a href="{% url 'portfolio:transaction' pk=portfolio.pk %}" class="btn btn-success my-btn">Nowa Transakcja</a>
                <a href="{% url 'portfolio:past_transactions' pk=portfolio.pk %}" class="btn btn-primary my-btn">Historia</a>
            </div>
            </div>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Number</th>
                  <th scope="col">Cost</th>
                </tr>
              </thead>
              <tbody>
                {% for asset in assets %}
                    <tr>
                    <td>{{asset.stocks.name}}</td>
                    <td>{{asset.sum_number}}</td>
                    <td>{{asset.avg_cost}}</td>
                    </tr>
                {% empty %}
                    <p>You have no assets</p>
                {% endfor %}
              </tbody>
             </table>
            <div class="d-flex justify-content-between">
                <p>Total</p>
                <p>Cash:   {{portfolio.cash | floatformat:2}}</p>
                <p>Stocks value:   {{portfolio.stocks_value | floatformat:2 }}</p>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script>
Highcharts.chart('container', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: 0,
    plotShadow: false
  },
  title: {
    text: 'Total value<br>{{portfolio.total_value | floatformat:2 }}',
    align: 'center',
    verticalAlign: 'middle',
    y: 60
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      dataLabels: {
        enabled: true,
        distance: -50,
        style: {
          fontWeight: 'bold',
          color: 'white'
        }
      },
      startAngle: -90,
      endAngle: 90,
      center: ['50%', '100%'],
      size: '180%'
    }
  },
  series: [{
    type: 'pie',
    name: 'Company share',
    innerSize: '50%',
    data: [
      {% for field in data %}
        {{field|safe}},
      {% endfor %}
      {
        name: 'Cash',
        y: 7.31,
        dataLabels: {
          enabled: false
        }
      }
    ]
  }]
});
</script>
{% endblock %}