{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-4">
    {% include "profiles/sidebar.html" %}
  </div>
  <div class="col-sm-8">
    <h3>Hi {{request.user.username}}</h3>
    {% if not num_portfolios %}
        <p>Make your first portfolio and start new chapter in your life</p>
        <p>If you have any questions just contact us</p>
    {% else %}
        <p>You have currently {{num_portfolios}} portfolios</p>
        <p>Feel free to create new one!</p>
    {% endif %}
    <form method="post">
        {{ form|crispy }}
        <button class="btn btn-success">Create New</button>
    </form>
  </div>
</div>
</>
{% endblock content %}