{% extends "base.html" %}
{% block content %}
<div class="container">
<ul class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{% url 'profiles:profile' %}">
                  Profile
              </a>
          </li>
          <li class="breadcrumb-item">
              <a href="{% url 'portfolio:details' pk=7 %}">
                  Portfolio
              </a>
          </li>
          <li class="breadcrumb-item active">
                  History
          </li>
      </ul>
<div class="row">
  <div class="col-sm-3">
    {% include "profiles/sidebar.html" %}
  </div>
  <div class="col-sm-9">
      Hello
  </div>
</div>
</div>
{% endblock %}