{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<div class="container">
<ul class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{% url 'profiles:profile' %}">
                  Profile
              </a>
          </li>
          <li class="breadcrumb-item">
              <a href="{% url 'portfolio:details' pk=7 %}">
                  Portfolio
              </a>
          </li>
          <li class="breadcrumb-item active">
                  History
          </li>
      </ul>
<div class="row">
  <div class="col-sm-3">
    {% include "profiles/sidebar.html" %}
  </div>
  <div class="col-sm-9">
    <div class="main-panel shadowing">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Akcje</th>
          <th scope="col">Cena</th>
          <th scope="col">Ilość</th>
          <th scope="col">Kupno/Sprzedaż</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
        <tr>
          <td>{{transaction.date}}</td>
          <td>{{transaction.stocks}}</td>
          <td>{{transaction.price}}</td>
          <td>{{transaction.number}}</td>
          <td>{{transaction.kind | change_kind}}</td>
        </tr>
        {% empty %}
        <p>Nie zawarłeś żadnej transakcji</p>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %}