{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<ul class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{% url 'core:home' %}">
                  Portfolio
              </a>
          </li>
          <li class="breadcrumb-item">
              <a href="{% url 'profiles:profile' %}">
                  Details
              </a>
          </li>
          <li class="breadcrumb-item active">
                  Transaction
          </li>
      </ul>
    <div class="row">
        <div class="col-sm-3">
            {% include "profiles/sidebar.html" %}
        </div>
        <div class="col-sm-9">
          <div class="main-panel shadowing">
              {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              <form method="POST">
              <fieldset>
               <legend>Buy stocks</legend>
               {% csrf_token %}
               {{ form|crispy }}
               <div class="btn-group btn-group-large">
                   <button class="btn btn-success" type="submit">
                       Send
                   </button>
               </div>
              </fieldset>
              </form>
          </div>
        </div>
    </div>
</div>
{% endblock content %}