{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/transaction.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'core:home' %}">
                Portfolio
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'profiles:profile' %}">
                Details
            </a>
        </li>
        <li class="breadcrumb-item active">
            Transaction
        </li>
    </ul>
    <div class="row">
        <div class="col-sm-3">
            {% include "profiles/sidebar.html" %}
        </div>
        <div class="col-sm-9">
          <div class="main-panel shadowing">
              {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              <div class="btn-group w-100 mb-2" role="group" aria-label="Basic example">
                  <a href="{% url 'portfolio:transaction' pk=portfolio_pk kind='buy' %}"
                     type="button" class="btn btn-success"
                  >
                    Zlecenie kupna
                  </a>
                  <a href="{% url 'portfolio:transaction' pk=portfolio_pk kind='sell' %}"
                     type="button" class="btn btn-danger"
                  >
                    Zlecenie sprzedaży
                  </a>
              </div>
              <form method="POST" class="transaction-form">
                 {% csrf_token %}
                 {{ form|crispy }}
                 <div class="btn-group btn-group-large">
                     <button class="btn btn-success" type="submit">
                         Send
                     </button>
                 </div>
              </form>
          </div>
        </div>
    </div>
</div>
{% endblock content %}