
SECRET_KEY=u@cp)6=)907@_%+mbd9=v#r#z2wps^5m@%xgvoj$^yf%yoioj!
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1

# DATABASE SETTINGS:
DB_NAME=mywallet_project
DB_USER=mywallet_user
DB_PASSWORD=hA8(scA@!fg3*sc&xaGh&6%-l<._&xCf
DB_HOST=127.0.0.1
