html
{
    margin: 0;
    padding: 0;
}

body
{
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1
{
    color: #000000;
    font-weight: bold;
}
.wrapper
{
   font-size: 20px;
   width: 90%;
   border-bottom: 1px solid #b1b5bc;
   margin: auto;
}
.navbar
{
   height: 100px;
}

.navbar .navbar-brand
{
    color: #000000;
    margin-right: 30px;
    font: 1px 'Great Vibes', Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    font-size: 30px;
}
.navbar .navbar-nav > li > a
{
    color: #ffffff;
    letter-spacing: 1px;
    margin: auto 7px;
}
.navbar .navbar-nav > li > a:hover {
      background-color: #546175;
      color: #ffffff;
      border-radius: 20px;
 }
.form_panel
{
    background-color: #f2f4f7;
    margin: auto;
}

.benefits
{
    border-radius: 30px;
    margin-top: 50px;
    background-color: #dee6ec;
    padding: 10px;
    text: justify;


}

.special
{
    background-color: pink;
}
.special select
{
    background-color: red;
}

.shadowing
{
    -webkit-box-shadow: 0px 0px 35px -10px rgba(102,101,102,1);
    -moz-box-shadow: 0px 0px 35px -10px rgba(102,101,102,1);
    box-shadow: 0px 0px 35px -10px rgba(102,101,102,1);
}
.main-panel
{
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}
.my-btn
{

}

.negative-value
{
    color: red;
}
.positive-value
{
    color: green;
}
.articles
{
    background-color: white;
    padding: 20px;
    margin-top: 5px;
}


footer
{
  background-color: #ffffff;
  height: 100px;
  position: fixed;
  bottom: 0px;

}