html
{
    margin: 0;
    padding: 0;
}

body
{
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1
{
    color: #000000;
    font-weight: bold;
}
a
{
    text-decoration: none;
    color: black
}
a:hover
{
    text-decoration: none;
    color: black;
}
.wrapper
{
   font-size: 20px;
   width: 90%;
   border-bottom: 1px solid #b1b5bc;
   margin: auto;
}
.navbar
{
   height: 100px;
}


.navbar .navbar-brand
{
    color: #000000;
    margin-right: 30px;
    font: 1px 'Great Vibes', Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    font-size: 30px;
}
.navbar .navbar-nav > li > a
{
    color: #ffffff;
    letter-spacing: 1px;
    margin: auto 7px;
}
.navbar .navbar-nav > li > a:hover {
      background-color: #546175;
      color: #ffffff;
      border-radius: 20px;
 }
.form_panel
{
    background-color: #f2f4f7;
    margin: auto;
}

/* -------------------------- main page ---------------------------------- */
.home-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.home-title h1 {
    color: white;
    font-weight: bold;
}
.home-title p {
    font-size: 20px;
}

.home-panel {
    background-color: white;
    padding: 40px 50px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.home-icons {
    font-size: 4em;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
.main-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.main-text {
    text-align: center;

}
.main-text > li {
    margin: 20px;
}

.benefits //do usunięcia?
{
    border-radius: 30px;
    margin-top: 50px;
    background-color: #dee6ec;
    padding: 10px;
    text: justify;


}
/* -------------------------------- end of main page -------------------------- */
.special
{
    background-color: pink;
}

.special select
{
    background-color: red;
}
.profile-image
{
    width:200px;
    height:200px;
    margin: 5px auto 0px;
}
.shadowing
{
    -webkit-box-shadow: 0px 0px 35px -10px rgba(102,101,102,1);
    -moz-box-shadow: 0px 0px 35px -10px rgba(102,101,102,1);
    box-shadow: 0px 0px 35px -10px rgba(102,101,102,1);
}
.main-panel
{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.facebook-btn
{
  padding 30px;
  background-color: #3b5998;
  color: white;
  border-radius: 10px;
  text-align: center;

}
.twitter-btn
{

}
.google-btn
{

}

.my-btn
{

}

.negative-value
{
    color: red;
}
.positive-value
{
    color: green;
}
.articles
{
    background-color: white;
    padding: 20px;
    margin-top: 5px;
}

.stock-name
{
    font-weight: bold;
    font-style: italic;
}
.stock-price
{
    text-align: right;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0px;
}
.iex-cite
{
    text-align: right;
    font-size: 11px;
    width: 100%;
}

.price-list
{
    float: right;
}
#topBtn
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    display: none;
    background-color: #b3c3dd;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;

}
.my_custom_Btn
{
    display:inline-block;
    border: 2px solid green;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
.my_custom_Btn:hover
{
    box-shadow: 0px 0px 20px green;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
footer {
    margin-top: 20px;
}
.my-footer {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}