
.sticker{
    position: -webkit-sticky; /* Safari */
    position:sticky;
    top: 2px;
}

.data-title
{
    text-align: center;
    font-weight: bold;
}
.dividend-data
{
    display: flex;
    justify-content: space-around;
}

ul.side-nav
{
    padding: 0px;
    margin-top: 10px;
}
.nav-btn
{
    margin-left: 0px;
    display: block;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    position: relative
}
.nav-btn:after
{
    content ''
    border-bottom 1px solid black
    padding 0 10px
    position absolute
    bottom 0
    left 0
    right 0
    margin 0 auto
    width 0
    transition 0.3s
}

.nav-btn:hover
{
    padding-bottom: 10px;
    border-bottom: 5px solid #7ab200;
}
#charBars
{
    height: 300px;
    margin: 10px auto;
}
.custom_table{
    width: 100%;
    padding: 10px;
}
.table-container{
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    padding-top: 10px;
}
.table_title
{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.main_table{
    width: 100%;
    padding-bottom: 10px;
}
.custom_rows{
    border-bottom: 1px solid black;
}
main_tbody
{
    margin-bottom: 10px;
}
.tab-cell{
    padding: 10px;
}
.pagination{
    margin-top: 20px;
}
#charStacked{
    height: 300px;
}
.falling{
    color: red;
    text-align: right;
}
.rising{
    color: green;
    text-align: right;
}
.filter{
    width: 30%;
}
.title_filter{
    width: 40%;
    text-align: center;
    font-weight: bold;
}
.download_btn{
    width: 30%;
}
.banner{
    background-color: white;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;

}

#charLine{
    height: 400px;
    min-width: 310px;
    margin-bottom: 10px;
}
