{% extends "base.html" %}
{% block content %}
{% load render_table from django_tables2 %}
<div class="container">
  <div>
      <ul class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{% url 'core:home' %}">
                  Home
              </a>
          </li>
          <li class="breadcrumb-item">
              <a href="{% url 'stocks:list' %}">
                  Stocks
              </a>
          </li>
          <li class="breadcrumb-item active">
                  Details
          </li>
      </ul>
  </div>
  <div class="row">
        <div class="col-md-4">
            <div class="sticker">
                {% include "stocks/side_stocks.html" %}
            </div>

        </div>

    <div class="col-md-8">
      <div class="main-panel shadowing">
        {% with stocks.detail as detail %}
        <div class="row">
          <p class="col-md-5">Capitalisation: 100 000 USD</p>
          <div class="col-md-7">
              <p class="data-title">Dividend amount:</p>
              <div class="dividend-data">
                    <div class="valid-data">{{last_dividend.amount}}<span class="usd-sign">USD</span></div>
                    <div>{{last_dividend.get_rate}} %</div>
              </div>
          </div>
        </div>
        <p>{{detail.industry}}</p>
        <p>{{detail.sector}}</p>
        <p>{{detail.description}}</p>
        <a href="{{detail.website}}" target="_blank">Check out the {{stocks.name}} website to get more</a>

        {% endwith %}
      </div>
      <div class="row">
        <div class="col-12">
        <div id="charBars" class="main-panel shadowing"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <div class="table-container shadowing">
                {% render_table table %}
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <div id="charStacked" class="main-panel shadowing"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
{{ finance_data|json_script:"finance_data"}}
{{ balance_data|json_script:"balance_data"}}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}
