{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<nav>
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'core:home' %}">
        Home
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'stocks:list' %}">
        Akcje
      </a>
    </li>
      <li class="breadcrumb-item active">
        Szczegóły
      </li>
  </ul>
</nav>
<div class="row">
  <div class="col-md-4">
    <div class="sticker">
      {% include "stocks/side_stocks.html" %}
    </div>
  </div>
  <div class="col-md-8">
    <main>
      <div class="main-panel shadowing">
        {% with stock.detail as detail %}
        <div class="row">
          <div class="col-md-6">
              <p class="data-title">Wskaźniki finansowe:</p>
              <div class="dividend-data">
                    <div class="valid-data">Marża: 15%</div>
                    <div>ROE: 25%</div>
              </div>
          </div>
          <div class="col-md-6">
              <p class="data-title">Dividend amount:</p>
              <div class="dividend-data">
                    <div class="valid-data">{{dividend_amount | floatformat:2}} <span class="usd-sign">USD</span></div>
                    <div>{{dividend_rate|floatformat:2}} %</div>
              </div>
          </div>
        </div>
        <div class="d-flex justify-content-around mt-4">
          <p><span class="data-title">Branża:</span> {{detail.industry}}</p>
          <p><span class="data-title">Sektor:</span> {{detail.sector}}</p>
        </div>
        <p>{{detail.description | truncatechars:400}}</p>
        <a href="{{detail.website}}" target="_blank">Check out the {{stock.name}} website to get more</a>

        {% endwith %}
      </div>
      <div class="row">
        <div class="col-12">
        <div id="charBars" class="main-panel shadowing"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="main-panel shadowing">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Kwartał</th>
                  <th scope="col">Dzień ust. praw</th>
                  <th scope="col">Wypłata</th>
                  <th scope="col">Wielkość</th>
                </tr>
              </thead>
              <tbody>
              {% for row in object_list %}
                <tr>
                  <td>{{ row.quarter }}</td>
                  <td>{{ row.record }}</td>
                  <td>{{ row.payment }}</td>
                  <td>{{ row.amount }}</td>
                </tr>
              {% empty %}
              </tbody>
            </table>
                <div class="text-align-center">Prawdopodobnie społka je nie wypłaca dywidend<div>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% include 'pagination.html' %}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <div id="charStacked" class="main-panel shadowing"></div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock content %}
{% block javascript %}
{{ finance_data|json_script:"finance_data"}}
{{ balance_data|json_script:"balance_data"}}
<script src="{% static 'js/stocks_detail.js' %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}
