{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<ul class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{% url 'core:home' %}">
                  Home
              </a>
          </li>
          <li class="breadcrumb-item">
              <a href="{% url 'profiles:profile' %}">
                  Profile
              </a>
          </li>
          <li class="breadcrumb-item active">
                Settings
          </li>
</ul>
<div class="row">
  <div class="col-sm-3">
      <div class="nav_title shadowing"> Account Settings</div>
      <ul class="side-nav">
        <a href="{% url 'profiles:edit' %}">
            <li class="nav-btn shadowing">Personal Data</li>
        </a>
        <a href="{% url 'profiles:password_change' %}">
            <li class="nav-btn shadowing ">Password Change</li>
        </a>
        <a href="#">
            <li class="nav-btn shadowing">Private email</li>
        </a>
      </ul>
  </div>

  <div class="col-sm-9">
    <div class="shadowing card">
      <div class="card-header">
          Edit your profile ({{profile.username}})
      </div>
      <div class="card-body">
          {% crispy form %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}