{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<ul class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{% url 'core:home' %}">
                  Home
              </a>
          </li>
          <li class="breadcrumb-item">
              <a href="{% url 'profiles:profile' %}">
                  Profile
              </a>
          </li>
          <li class="breadcrumb-item active">
                Settings
          </li>
</ul>
<div class="row">
  <div class="col-sm-3">
      <div class="nav_title shadowing"> Account Settings</div>
      <ul class="side-nav">
        <a href="{% url 'profiles:edit' %}">
            <li class="nav-btn shadowing">Personal Data</li>
        </a>
        <a href="{% url 'profiles:password_change' %}">
            <li class="nav-btn shadowing ">Password Change</li>
        </a>
        <a href="{% url 'profiles:contact' %}">
            <li class="nav-btn shadowing">Contact</li>
        </a>
      </ul>
  </div>

  <div class="col-sm-9">
    <div class="shadowing card">
      <div class="card-header">
          Edit your profile ({{profile.username}})
      </div>
      <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
              <input type="submit" class="btn btn-success mx-1" value="Update my profile">
            <input type="" class="btn btn-warning mx-1" placeholder="Reset">
            <input type="submit" class="btn btn-danger mx-1" placeholder="Update my profile">
          </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}