{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row no-gutters">

    <div class="col-sm-5 offset-sm-1">
     <div class="main-panel">
       <h3>Log in to My Wallet</h3>
       <div>
       <a href="{% url 'profiles:social:begin' 'facebook' %}">
         <div class="facebook-btn">Facebook</div>
       </a>
       <a href="{% url 'profiles:social:begin' 'twitter' %}" class="twitter-btn">Twitter</a>
       <a href="{% url 'profiles:social:begin' 'google_oauth2' %}" class="google-btn">Google +</a>
       </div>
     </div>
    </div>


    <div class="col-sm-5">
    <div class="main-panel card card-default">
        <div class="card-heading">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% include "basic_form.html" %}
                    <button class="btn btn-success w-100" type="submit">Login</button>
                    <a href="{% url 'core:home' %}" class="btn btn-link">Forget your password?</a>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock content %}
