{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'core:home' %}">
      Home
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'profiles:profile' %}">
      Profile
    </a>
  </li>
  <li class="breadcrumb-item active">
    Settings
  </li>
</ul>
<div class="row">
  <div class="col-sm-3">
    <div class="nav_title shadowing">Mój Profil</div>
      <ul class="side-nav">
        <li class="nav-btn shadowing">
          <a href="{% url 'profiles:edit' %}">
            Aktualizuj dane
          </a>
        </li>
        <li class="nav-btn shadowing ">
          <a href="{% url 'profiles:password_change' %}">
            Zmiana hasła
          </a>
        </li>
        <li class="nav-btn shadowing">
          <a href="{% url 'profiles:contact' %}">
            Kontakt
          </a>
        </li>
      </ul>
  </div>

  <div class="col-sm-9">
    <div class="shadowing card">
      <div class="card-header">
          Zmień swoje hasło
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-6">
              {{ form | crispy }}
            </div>
            <div class="col-6">
              <ul class="my-auto">
                <li>
                  Hasło powinno mieć co najmniej osiem znaków
                </li>
                <li>
                  Najlepiej użyj co najmniej jednej małej liter, dużej litery oraz cyfry.
                </li>
                <li>
                  Nikomu nie zdradzaj swojego hasła
                </li>
              </ul>
            </div>
            <button type="submit" class="btn btn-primary">Zmień hasło</button>
            <button type="reset" class="btn btn-warning">Wyczyść</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}