{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile_home.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="container">
    <div class="row p-4">
        <div class="col-sm-3">
            {% include "profiles/sidebar.html" %}
        </div>
        <div class="main-panel shadowing col-sm-9">
            <div class="jumbotron text-center">
                <div class="main-text">
                     Witaj na swoim profilu w My Wallet!
                </div>
                <div class="secondary-text">
                    Tutaj znajdziesz wszystkie potrzebne informacje!
                </div>
                <a href="{% url 'portfolio:new' %}">
                    <button class="btn btn-primary mt-2">
                        Stwórz nowy portfel
                    </button>
                </a>
            </div>
            {% for portfolio in portfolios %}
            <div class="portfolio-detail">
                <div class="row">
                    <div class="col-6">
                        <div>{{ portfolio.name }}</div>
                        <div>{{portfolio.description}}</div>
                    </div>
                    <div class="col-6">
                        <div>{{portfolio.total_value}}</div>
                        <div>{{portfolio.percent_return}}</div>
                    </div>
                </div>
                <div class="text-center">
                        <a href="{% url 'portfolio:details' portfolio.pk %}">
                            <button class="btn btn-secondary">
                                Szczegóły portfela
                            </button>
                        </a>
                        <a href="{% url 'portfolio:transaction' portfolio.pk %}">
                            <button class="btn btn-success">
                                Nowa transakcja
                            </button>
                        </a>
                </div>
            </div>
            {% empty %}
                <div class="text-center">
                    <p>Nie posiadasz jeszcze żadnego portfela.</p>
                    <p>Utwórz nowy portfel i wypróbuj My Wallet</p>
                    <a href="{% url 'portfolio:new' %}">
                        <button class="btn btn-success">
                            Utwórz nowe portfolio
                        </button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}