{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
    <div class="col-sm-9">
        <div class="bg-white mt-3 p-3" style="border-radius: 30px">
        <h3 class="mb-5">Registration Form</h3>
        <form method="post" action="" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include "basic_form.html" %}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        </div>
    </div>
        <div class="col-sm-3">
            <div class="bg-white mt-3">Dummy data</div>
        </div>
    </div>
{% endblock content %}